
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow-x:hidden;
font-family:Arial;
}

.hero-intro{
background:linear-gradient(180deg,#0db7b1,#dff7f4);
}

.heroSlider-txt h1{
font-size:88px;
line-height:1;
color:#fff;
margin-bottom:20px;
}

.heroSlider-txt h2{
font-size:44px;
color:#eaffff;
margin-bottom:20px;
}
.heroSlider-txt p{
font-size:20px;
line-height:1.8;
color:#fff;
max-width:520px;
}

.bottle{
position:fixed;
top:18%;
right:10%;
height:600px;
z-index:9999;
will-change:transform;
transform:translate3d(0,0,0);
backface-visibility:hidden;
pointer-events:none;
}

.story-wrapper{
position:relative;
}

.panel{
height:100vh;
display:flex;
align-items:center;
}
.panel h2{
font-size:70px;
margin-bottom:20px;
}

.panel p{
font-size:20px;
line-height:1.8;
max-width:520px;
height:100vh;
display:flex;
align-items:center;
}

.panel1{
background:#ffffff;
 
}

.panel2{
background:#eefdfc;
}

.panel3{
background:#dff7f4;
}

.panel4{
background:#ffffff;
}