.main-heading{
    font-size: 60px;
    padding-bottom: 40px;
}
.middle-wrapper {
    padding-top: 120px;
    padding-bottom: 120px;
}
.abut-cont {
    margin-right: 90px;
    background: #f4f4f4;
    border-radius: 15px;
}
.abut-txt {
    padding-top: 15px;
    padding-bottom: 50px;
}
.abutlist {
    padding-bottom: 30px;
}
.hmabut-img{
    border-radius: 15px;
    position: relative;
    z-index: 1;
}
.abutlist li {
    padding-bottom: 15px;
    font-size: 20px;
    font-weight: 600;
}

.lst-nmbr {
    padding-right: 15px;
    color: #41a693;
}
.abut-anim-box{
    position: relative;
    z-index: 11;
}
.rotating-circle {
    background: url(imgs/stamp.png);
    width: 143px;
    height: 143px;
    position: absolute;
    left: 10px;
    top: 10px;
    transform: translate(-50%, -50%);
    animation: rotateCircle 20s linear infinite;
}
/* Rotation Animation */

@keyframes rotateCircle{

    from{
        transform:
        translate(-50%, -50%)
        rotate(0deg);
    }

    to{
        transform:
        translate(-50%, -50%)
        rotate(360deg);
    }
}

.bndtxt {
    font-size: 60px;
    position: absolute;
    top: -35px;
    left: -30px;
    color: #ffffff;
    font-weight: 600;
    background: #41a692;
    border-radius: 50px;
    width: 90px;
    height: 90px;
    padding-left: 23px;

}


/* Water Points List Section */
.points-wrapper {
    background-color: #edf1f1;
}
.pnt-box-wht {
    background: #ffffff ;
    vertical-align: middle;
    /* padding: 35px; */
    margin-bottom: 20px;
    border-radius: 10px;
}
.point-sml-txt{
    padding-top: 15px;
    padding-bottom: 15px;
}
.pntbox-head {
    font-size: 60px;
    font-weight: 600;
}
.pnt-txt {
    padding-top: 30px;
}
.pnt-box-vid-section{
    height: 320px;
    border-radius: 10px;
    /* background: url(./imgs/pont-box-img1.png); */
    background-repeat: no-repeat;
    background-size: cover;
}
video.background-video-hosted {
    width: 110%;
    height: auto;
}
.pnt-box-theme {
    background: #45a892;
    color: #fff;
    padding: 35px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.pntbox-video{padding: 0;margin-bottom: 0;}
.point-btn{
    margin-top: 15px;
    margin-bottom: 15px;
}
.point-btn i {
    font-size: 15px;
    padding-left: 5px;
}
.point-chklst li {
    padding-bottom: 20px;
}
.point-chklst li i {
    margin-right: 10px;
    color: #45a892;
}

.left-leaf {
    position: relative;
}
.left-leaf::before {
    background-image: url(/public/imgs/leaf01.png);
    width: 170px;
    height: 185px;
    position: absolute;
    content: '';
}

.left-leaf::after {
    background-image: url(/public/imgs/leaf02.png);
    width: 187px;
    height: 137px;
    position: absolute;
    content: '';
    top: 65vh;
    left:0;
}

.right-leaf {
    position: relative;
}
.right-leaf::before {
    background-image: url(/public/imgs/leaf01.png);
    width: 170px;
    height: 185px;
    position: absolute;
    content: '';
    right:0;
    top:0;
}

/*Feature Section Style */
.features-wrapper{
    padding-top: 90px;
    padding-bottom: 60px;
}
.featr-inner{
    text-align: center;
}
.featr-content {
    font-size: 40px;
}


/* Counter Feature style */
.counter-box{
    transition: all 0.4s ease;
    will-change: transform;
}

.counter-box:hover{
    transform: translateY(-10px);
}
.counter-wrapper{
    padding-top: 50px;
    padding-bottom: 120px;
    
}
.btl-trck-wrapper {
    padding-top: 50px;
    padding-bottom: 120px;
}
.btl-trck-box{
    text-align: center;
}
.counter-title {
    font-size: 55px;
    font-weight: 600;
}
.counter-subtitle {
    font-size: 25px;
    padding-bottom: 15px;
}
.counter-content {
    position: relative;
    padding-top: 35px;
    border-top: 1px solid #3da593;
}

.counter-content::before {
    border-top: 3px solid #3da593;
    content: '';
    width: 50px;
    position: absolute;
    top: -4px;
}

/* Nature Section Style */
.nature-wrapper{
    padding-top: 120px;
    padding-bottom: 120px;
    background-image: url('./../../public/imgs/bg2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 80vh;
    position: relative; 
    z-index: 11;
    align-items: center;
    justify-content: center;
    display: flex;
}
.nature-wrapper:before{
    background-color: rgba(0,0,0,0.4);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.nature-inner {
    text-align: center;
    position: relative;
    color: #fff;
}

.process-wrapper {
    padding-top: 90px;
    padding-bottom: 90px;
    background-image: url('./../../public/imgs/dotted-line.png');
    background-position: 50% 75%;
    background-repeat: no-repeat;
}
.process-subtitle{
    font-size: 40px;
}
.process-grid-wrapper{
    
}
.process-box{
    position: relative;
}

.process-circle-box {
    margin-top: 90px;
    margin-bottom: 65px;
}

.process-circle-box:after {
    content: "";
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-clip: border-box;
    width: 270px;
    height: 270px;
    background-color: #edf1f1;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -150px;
    margin-bottom: -25px;
    z-index: 0;
    transition: all .8s ease;
}
.lte-header {
    background-color: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.12);
    width: 70px;
    height: 70px;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #45a892;
    position: absolute;
    left: -10px;
    top: 240px;
    z-index: 1;
}
.lte-heading-content{
    position: relative;
}
.process-imgbox{
    text-align: center;
}

.process-imgbox >img{ 
    z-index: 1;
    position: relative;
    transition: ease-out all 0.99s;
    transform: scale(0.8);
}
.process-box:hover .process-circle-box::after {
    transform: scale(0.9);
}
.process-box:hover .process-imgbox >img {
    transform: scale(1);
}
.process-name h4 {
    text-align: center;
    font-size: 22px;
}
